@import "./variables/mixins";
@import "./variables/colors";

* {
  margin: 0;
}

// LOGIN STYLING ------------->>>>>

.loginBackground {
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  width: 100vw;
  display: flex;

  align-items: center;
  justify-content: center;
}

.loginMain {
  //   border: 1px solid crimson;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  h1 {
    font-family: nanum brush script;
    font-size: 80px;
    color: #e66465;
  }
  p {
    text-align: center;
    font-size: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    letter-spacing: 0.3ch;
    // text-decoration: underline;
    color: rgb(105, 105, 105);
  }
  h2 {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }
  input {
    margin: 3px;
    width: 70%;
    height: 30px;
  }
  .loginRegisterBtn {
    margin: 10px;
    width: 72%;
    border: none;
    border-radius: 30px;
    height: 25px;
    background-color: #9198e5;
    color: beige;
  }
  .loginBtn {
    width: 72%;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(rgb(187, 144, 233), rgb(223, 125, 125));
    color: beige;
    margin: 0px;
  }
}

// ----------- SNACKBAR STYLING ----------------

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#userExistsMessage {
  color: crimson;
  font-size: x-small;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// ---------------- SNACKBAR STYLING SLUT -----------------

/* ---------------- HEADER STYLING ------------------ */

#loginHeader {
  display: flex;
  background: linear-gradient(rgb(187, 144, 233), rgb(223, 125, 125));
  min-height: 300px;

  .headerLeft {
    border: 1px solid black;
    width: 20%;
  }

  .headerMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;

    h1 {
      font-family: nanum brush script;
      font-size: 100px;
      color: #e66465;
    }

    h2 {
      font-family: montserrat;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 0.1ch;
      line-height: 3;
      border-bottom: 1px solid black;
    }

    p {
      font-variant-caps: all-petite-caps;
      font-family: "Times New Roman", Times, serif;
      font-size: small;
      letter-spacing: 0.01ch;
    }
  }

  .headerRight {
    border: 1px solid blue;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    #focusTimeBtn {
      border: none;
      border-radius: 10px;
      height: 30px;
      font-family: montserrat;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.3ch;
      font-weight: 600;
      background-color: #5560db;
      color: beige;
      box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.37);
      -webkit-box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.37);
      -moz-box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.37);
      width: 80%;
    }
    #focusTimeBtn:hover {
      box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.75);
      -webkit-box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.75);
      -moz-box-shadow: 0px 1px 13px 5px rgba(255, 251, 237, 0.75);
      transition-duration: 100ms;
      transform: scale(1.01);
    }
  }
}

// ------------------ TIMER STYLING ------------------------

.timerContainer {
  border: 1px solid magenta;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  #timer {
    font-size: xx-large;
  }
  .timeButtons {
    border: 1px solid grey;

    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      background-color: rgb(72, 71, 71);
      min-height: 30px;
      width: 30%;
      font-family: montserrat;
      text-transform: uppercase;
      color: #ccc;
    }
  }
  .time {
    border: 1px solid yellow;

    display: flex;
    justify-content: center;
    #timer {
      font-size: 60px;
      font-family: montserrat;
      font-weight: 800;
    }
  }
  .pauseButtons {
    border: 1px solid firebrick;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    #startTimer {
      width: 160px;
    }
  }
  button {
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 25%;
    background-color: rgb(244, 137, 92);
    font-family: montserrat;
    letter-spacing: 0.3ch;
  }
}

.modal {
  border: 1px solid black;
  border-radius: 10px;
  color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: rgb(35, 35, 35);
  width: 500px;
  max-width: 80%;
  padding: 5px 10px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}

#timerOverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.6);
  pointer-events: none;
}

#timerOverlay.active {
  opacity: 1;
  pointer-events: all;
}

#closeBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

// LOGIN STYLING SLUT ! ---------------------<<<<

// TO-DO STYLING START >>>>>>>

.todo {
  overflow: hidden;
  height: auto;
  min-width: 170px;
  width: 40%;
  border-radius: 8px;
  @include shadow-1;
  color: white;
  // background: radial-gradient(
  //   circle,
  //   rgba(249, 249, 176, 1) 1%,
  //   rgba(255, 255, 212, 1) 47%
  // );
  background: $bg-violet;
  padding: 10px;
  display: flex;
  gap: 12px;
  flex-direction: column;

  .upperCard {
    display: flex;
    justify-content: flex-end;

    .todoStatus {
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }

    .todoStatus > span {
      font-size: 12px;
    }
    .todoStatus > span:first-child {
      // position: absolute;
      align-self: flex-start;
    }
  }
  .middleCard {
    margin-top: auto;
    width: 100%;
    .todoDetails {
      width: 50%;
      h4 {
        font-size: 24px;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
        width: 80%;
        word-wrap: break-word;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .lowerCard {
    display: flex;
    gap: 6px;
    justify-content: flex-start;

    .todoDeleteBtn {
      align-self: flex-end;
    }
  }
}

.coll {
  border: none;
  border-radius: 4px;
}

.todo-done {
  background: radial-gradient(
    circle,
    rgba(161, 254, 161, 1) 1%,
    rgba(203, 255, 203, 1) 47%
  );
  color: black;
}

.todo button {
  border: none;
  border-radius: 4px;
  height: 24px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.todoDoneBtn {
  background-color: rgb(121, 243, 121);
  &:hover {
    background-color: rgb(107, 245, 107);
  }
}

.todoDeleteBtn {
  background-color: red;

  &:hover {
    background-color: rgb(249, 58, 58);
  }
}

.todo-progress {
  background: rgb(255, 255, 203);
}

.todo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  padding: 18px 0px;

  background: linear-gradient(#e66465, #9198e5);
  *:not(i) {
    font-family: Montserrat;
  }
  .add-todo {
    position: sticky;
    top: 50px;
    // background: linear-gradient(
    //   58deg,
    //   rgba(0, 0, 0, 1) 30%,
    //   rgba(142, 142, 142, 1) 100%
    // );
    background: rgba(145, 152, 229, 1) 0%;

    height: min-content;
    border-radius: 8px;
    @include shadow-1;

    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 6px;
    collapsed {
      right: 50px;
    }
    h3 {
      color: white;
    }
  }
  label {
    color: white;
  }

  button,
  select {
    color: black;
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 60%;

    h2 {
      color: white;
    }

    #toggleFilter {
      background-color: $bg-violet;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 18px;
      width: 120px;

      i {
        color: white;
        margin-left: 12px;
      }
    }
  }
  .todo-list > h3 {
    font-size: 16px;
    font-weight: normal;
  }

  .your-todo {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  .filter-todo {
    border: 1px solid black;
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease-in;
    padding: 12px;
    border-radius: 8px;

    // border: 1px solid black;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 0.4);

    h3,
    h4 {
      color: white;
    }
    .allCateg {
      display: flex;
      flex-direction: column;

      input {
        margin: 0px 12px 0px 2px;
      }
    }
  }

  .collapsed {
    // height: 0;
    padding: 0;
    border-width: 0;

    * {
      display: none;
    }
    .collapse-button {
      display: block;
    }
  }

  .expanded {
    height: min-content;
  }

  .sort-todo {
    width: auto;
    height: auto;
    margin-bottom: 6px;
  }
}

#descEdit,
#categEdit,
#titleEdit {
  font-size: 12px;
  width: 80%;
}

#estiTime {
  width: 30px;
}
#collapse.collapse-button.coll {
  background-color: $bg-violet;
  color: white;
  height: 100px;
  width: 120px;
}

#collapse.exp {
  border: none;
  border-radius: 4px;
  background-color: white;
}

.calendar-container {
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  background: $bg-violet;
}
// TO-DO STYLING SLUT -----<<<<<<<<<<
//CALENDER NICE-TO-HAVE STYLING >>>>>>>>>>>>>
.NTH-calender {
  // background: linear-gradient(
  //   58deg,
  //   rgba(0, 0, 0, 1) 30%,
  //   rgba(142, 142, 142, 1) 100%
  // );
  width: 50%;
  background: $bg-orange;
  height: min-content;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  @include shadow-1;
  * {
    font-family: Montserrat;
  }
  input {
    width: 75%;
  }
  label {
    color: white;
  }
  .start-mode {
    @include date-style;
  }

  .end-mode {
    @include date-style;
  }

  .pastEventTitle {
    font-size: 20px;
  }
  .add-event {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 18px;
      color: white;
    }
  }
  .calender-card {
    border-radius: 8px;
    background: radial-gradient(
      circle,
      rgba(230, 100, 101, 1) 0%,
      rgba(145, 152, 229, 1) 66%
    );
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    box-sizing: border-box;
    padding: 12px;
    height: min-content;
    width: 250px;

    .calender-title {
      width: 100%;
      p {
        @include calendar-color-1;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .start-mode {
      background: linear-gradient(
        58deg,
        rgba(230, 100, 101, 1) 18%,
        rgba(145, 152, 229, 1) 85%
      );
      p {
        @include calendar-color-1;
      }
    }
    .end-mode {
      background: linear-gradient(
        58deg,
        rgba(145, 152, 229, 1) 15%,
        rgba(230, 100, 101, 1) 82%
      );
      p {
        @include calendar-color-1;
      }
    }
  }
}

.cal-results > div:nth-child(1) > .calender-title > p:nth-child(2) {
  display: inline !important;
}

.calender-title {
  display: flex;
  justify-content: space-between;
}

.pastEventTitle {
  color: white;
}

//CALENDER NICE-TO-HAVE STYLING SLUT -----<<<<<<<<<<<<<
// LOGIN STYLING ------------->>>>>

.loginBackground {
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  width: 100vw;
  display: flex;

  align-items: center;
  justify-content: center;
}

.loginMain {
  //   border: 1px solid crimson;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  h1 {
    font-family: nanum brush script;
    font-size: 80px;
    color: #e66465;
  }
  p {
    text-align: center;
    font-size: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    letter-spacing: 0.3ch;
    // text-decoration: underline;
    color: rgb(105, 105, 105);
  }
  h2 {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }
  input {
    margin: 3px;
    width: 70%;
    height: 30px;
  }
  .loginRegisterBtn {
    margin: 10px;
    width: 72%;
    border: none;
    border-radius: 30px;
    height: 25px;
    background-color: #9198e5;
    color: beige;
  }
  .loginBtn {
    width: 72%;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(rgb(187, 144, 233), rgb(223, 125, 125));
    color: beige;
    margin: 0px;
  }
}

#loginHeader {
  background-color: crimson;
  height: 100px;
}

// LOGIN STYLING SLUT ! ---------------------<<<<

// Habit Styling

.habit-container {
  background-color: #9198e5;
  //height: 100vh;
  //width: 100vw;
  display: flex;
  border: black solid;
  font-family: sans-serif;

  #habitForm-container {
    color: white;
    background-color: #606ad7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: solid black;
    margin: 10px;
    padding: 10px;
  }
  .filter-habit {
    border: solid black;
    padding: 10px;
    margin: 10px;
  }
  .sort-habit {
    border: solid black;
    padding: 10px;
    margin: 10px;
  }
}

.habit-card {
  border: 1px solid #ccc;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Justera bredden efter ditt behov */
  text-align: center;

  .delete-button {
    background-color: #e66465;
  }
}
